<div class="sidebar">
    <ul class="sidebar-nav">
        <li{{#is title "Test JOSSO in minutes"}} class="active"{{/is}}>
            <a class="nav-heading" href="getting-started.html">Getting Started</a>
        </li>
        <li{{#is title "Installing JOSSO"}} class="active"{{/is}}>
            <a class="nav-heading" href="install.html">Install</a>
        </li>
        <li{{#is title "High-level Architecture"}} class="active"{{/is}}>
            <a class="nav-heading" href="architecture.html">Architecture</a>
        </li>
        <li class="disabled">
            <a class="nav-heading" target="_blank"
               href="http://docs.atricore.com/josso2/2.4.0/josso-reference-guide/html/en-US/JOSSO_Reference.html">
                Reference Guide
            </a>
        </li>
    </ul>
    <ul class="sidebar-nav">
        {{#is title "About JOSSO"}}
        <ul>
            <li class="nav-label">
                <a href="#main-features">Main Features</a>
            </li>
        </ul>
        <ul>
            <li class="nav-label">
                <a href="#getting-up-and-running-quickly">Getting up and running quickly</a>
            </li>
        </ul>
        <ul>
            <li class="nav-label">
                <a href="#release-history">Release History</a>
            </li>
        </ul>
        {{/is}}
        {{#is title "Test JOSSO in minutes"}}
            <ul>
                <li class="nav-label">
                    <a href="#introduction">Introduction</a>
                </li>
            </ul>
            <ul>
                <li class="nav-label">
                    <a href="#agile-iam">Agile IAM</a>
                </li>
            </ul>
            <ul>
                <li class="nav-label">
                    <a href="#quick-josso-playground-overview">Quick JOSSO Playground overview</a>
                </li>
            </ul>
            <ul>
                <li class="nav-label">
                    <a href="#rollout-the-reference-iam-ecosystem">Rollout the reference IAM ecosystem</a>
                </li>
            </ul>
            <ul>
                <li class="nav-label">
                    <a href="#test-it">Test it</a>
                </li>
            </ul>
            <ul>
                <li class="nav-label">
                    <a href="#what-s-next">What's next</a>
                </li>
            </ul>
        {{/is}}
        {{#is title "Installing JOSSO"}}
        <ul>
            <li class="nav-label">
                <a href="#overview">Overview</a>
            </li>
            <li class="nav-label">
                <a href="#traditional-install">Traditional Install</a>
            </li>
            <li class="nav-label">
                <a href="#docker-install">Docker Install</a>
            </li>
        </ul>
        {{/is}}
        {{#is title "High-level Architecture"}}
        <ul>
            <li class="nav-label">
                <a href="#introduction">Overview</a>
            </li>
            <li>
                <a href="#building-blocks">Building Blocks</a>
            </li>
        </ul>
        {{/is}}
        {{#is title "Reference Guide"}}
        {{/is}}
    </ul>
</div>
